<div class="container-fluid color h-100">

    <div class="row p-5">

        <div class="col-md-6 mb-3">

            <h3 [routerLink]="['home']"> &copy; Rock 70's</h3>

        </div>

        <div class="col-md-3 col-7 mx-auto">
            <h4 class="btn" [routerLink]="['/form']"> ¿No encuentras la banda que búscas?</h4>
        </div>

        <div class="col-2 text-right">
            <div ngbDropdown placement="top-right" class="d-inline-block">
                <button class="btn-select btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Idioma</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem>Español</button>
                    <button ngbDropdownItem>Ingles</button>

                </div>
            </div>
        </div>
    </div>


</div>