<div class="container-fluid color h-100">

    <div class="row p-5">

        <div class="col-md-6 mb-3">

            <h3 [routerLink]="['home']"> &copy; Rock 70's</h3>

        </div>

        <div class="col-md-3 col-7 mx-auto">
            <h4 class="btn" [routerLink]="['/form']"> ¿No encuentras la banda que búscas?</h4>
        </div>

        <div class="col-md-1 col-5">
            <select name="" id="" class="form-control">
                <option value="es-ES">Español</option>
                <option value="en-GB">Ingles</option>
            </select>
        </div>
    </div>


</div>